<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>My Booking History</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/media/assets1/vendors/feather/feather.css">
  <link rel="stylesheet" href="/media/assets1/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/media/assets1/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/media/assets1/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/media/assets1/images/my_logo3.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:/media/assets1/partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="#"><img src="/media/assets1/images/qc3.png" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="#"><img src="/media/assets1/images/my_logo3.png" alt="logo"/></a>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
       
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src= "{{ user.profile_image.url }}"  alt="profile"/>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customer_dashboard' %}" >
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Back to Dashboard</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">My Booking History</h4>
                
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Booking ID</th>
                          <th>Vendor</th>
                          <th>Service</th>
                          <th>Booking Time</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.provider.business_name }}</td>
                                <td>{{ booking.provider.business_name }}</td>
                                <td>{{ booking.booking_time }}</td>
                                <td>{{ booking.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <script src="/media/assets1/vendors/js/vendor.bundle.base.js"></script>
 
  <script src="/media/assets1/js/off-canvas.js"></script>
  <script src="/media/assets1/js/hoverable-collapse.js"></script>
  <script src="/media/assets1/js/template.js"></script>
  <script src="/media/assets1/js/settings.js"></script>
  <script src="/media/assets1/js/todolist.js"></script>
 
</body>
</html>
